	body {
	background-color: #f5f0c8;
	}

.machboos {
   position: absolute;
   top: -20px;
   right: 923px;
}

.mumawash {
   position: absolute;
   top: 1000px;
   right: 923px;
}

.balaleet {
   position: absolute;
   top: 2000px;
   right: 923px;
}

.clickclothing {
   position: absolute;
   bottom: -1400px;
   left: -323px;
}

	.home{
	position: absolute; 
	bottom: -1400px; 
	right: 0px;
}


