body {
	background-color: #39393c;
	}

.food
{ display: inline-block;}

.clothing
{ display: inline-block;}

.music
{ display: inline-block;}

.parade
{ display: inline-block;}

.culture
{ display: inline-block;}